# Compiled python
*.pyc
*.pyd

# OSX dir files
.DS_Store

#folders
LungCancerDetection
dicomdata
notebook

# large dataset
lunadata

# test code in maxos
creat_images.py

#pycharm
.idea
#jupyter
.ipynb_checkpoints

*.png